@import "fonts.css";

:root {
  --primary: #ea705c;
  --secondary: #e5e3df;
  --text: #494846;
  --btn: #a3a3a3;
  --btn-hover: #bc5c4c;
  font-size: 16px;
}

p.h1,
h1,
p.h2,
h2,
p.h3,
h3,
p.h4,
h4,
p.h5,
h5,
p.h6,
h6 {
  font-family: Roboto;
  color: var(--text);
}

p.h1,
h1 {
  font-size: 2.25rem;
  font-weight: 400;
}

p.h2,
h2 {
  font-size: 2rem;
  font-weight: 400;
}

p.h3,
h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

a,
p,
div,
input,
button,
textarea {
  font-family: Roboto;
  color: var(--text);
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 15vh 0;
}

.strong {
  font-weight: 700;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 30px;
  padding: 8px 30px;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: var(--btn-hover) !important;
  border-color: var(--btn-hover) !important;
  box-shadow: none !important;
}

.btn.btn-outline-primary {
  border-color: #579693;
  border-radius: 30px;
  padding: 8px 30px;
  color: #579693;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus {
  border-color: #579693 !important;
  background-color: #579693;
  box-shadow: none !important;
  color: #fff;
}

.animate__animated {
  opacity: 0;
}

/*----------------------------NavBar-------------------------------*/

#navbar {
  background: #fff;
  border-bottom: solid 8px var(--primary);
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  box-shadow: 0px 5px 19px rgba(0,0,0,.29);
}

#navbar img.logoNav {
  height: auto;
  width: 250px;
}

#navbar a.nav-link.active {
  font-weight: 700;
}

#navbar a.nav-link {
  color: var(--text);
  padding: 8px 17px;
}

#navbar .navbar-collapse.collapse.show ul.navbar-nav {
  box-shadow: 0px 5px 19px rgba(0,0,0,.29);
}
/*----------------------------Banner-------------------------------*/

#banner {
  background: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../images/bgbanner.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 29%;
  min-height: calc(100vh - 90px);
  margin-top: 90px;
}

#banner .titleBanner p {
  color: #fff;
  margin: 0;
  font-size: 1.85rem;
  line-height: 2rem;
}

#banner .titleBanner p:first-of-type {
  font-size: 2.75rem;
  line-height: 3rem;
}

#banner .titleBanner p:first-of-type span {
  font-weight: 700;
}

#banner .titleBanner p:last-of-type {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
}

#banner .titleBanner p:last-of-type span {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

#banner .titleBanner button {
  margin-top: 35px;
}

#banner a.btn.btn-primary {
    margin-top: 3%;
}

#banner .titleBanner .dividerLine {
  border-bottom: solid 1px #fff;
  margin: 20px 0;
  max-width: 400px;
}

/*------------------------------Project--------------------------------*/

#project {
  background: url(../images/bgProject.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section#project .imgbg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  width: 100%;
  height: auto;
  max-height: 100%;
  z-index: 0;
}

#project .gridProject {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 1) 20%);
  position: relative;
  z-index: 1;
}

#project .gridProject .infoProject {
  padding-left: 8%;
}

#project .gridProject .infoProject img.logo {
  max-width: 200px;
  width: 100%;
  margin: 40px 0;
}

#project .infoProject .gridList {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

#project .infoProject .gridList p {
  margin: 0;
}

#project .infoProject .gridList .divider {
  border-bottom: solid 1px var(--text);
  margin: 10px 0;
  width: 90%;
}

#project .infoProject .footerProject {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px 0 40px;
}

#project .infoProject .footerProject div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

#project .infoProject .footerProject p {
  font-size: 11px;
  text-align: center;
}

#project .infoProject .footerProject img {
  max-width: 140px;
  width: 100%;
}

/*-----------------------------presale-------------------------------*/

#presale {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(185, 185, 185, 0) 10%, rgba(0, 0, 0, 0) 100%), #e5e3df;
}

#presale .progressTop {
  display: flex;
  flex-direction: row;
  position: relative;
}

#presale .progressTop img {
  height: 70px;
}

#presale .progressTop img:first-of-type {
  position: absolute;
  bottom: 0;
  left: calc(15% + 28px);
}

#presale .progressTop .verticalDivider {
  position: absolute;
  bottom: -18px;
  left: calc(15% - 1px);
  border-left: solid 1px var(--text);
  height: 100%;
}

#presale .progressTop .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#presale .progressTop .text p {
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
}

#presale .progressTop .text p span {
  font-size: 1.5rem;
}

#presale .progress {
  height: 58px;
  background-color: #fff;
  border-radius: 0;
  margin: 18px 0;
}

#presale .progress-bar {
  background-color: #27ac2c;
}

#presale .progressBottom {
  display: flex;
  flex-direction: row;
}

#presale .progressBottom p {
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 0;
}

#presale .progressBottom p:first-child {
  margin-left: calc(15% + 1px);
}

/*----------------------------ubication-------------------------------*/

#ubication {
  background: url(../images/bgUbication.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#ubication div#imgMap svg {
  position: absolute;
  top: 0;
  right: 0;
  width: auto !important;
}

#ubication2 div#imgMap2 {
  position: relative;
  left: 0;
  width: 60%;
  height: auto !important;
  z-index: 1;
}

#ubication2 .container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  padding: 15vh 15px;
  z-index: 0;
}

#ubication2 .container .infoMap {
  margin-left: auto;
  width: fit-content;
}

#ubication2 .infoMap p {
  margin: 0;
}

#ubication2 .infoMap p.strong {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#ubication2 .infoMap p.strong img {
  width: 44px;
  margin: 0 10px;
}

#ubication2 .infoMap .divider {
  border-bottom: solid 1px var(--text);
  margin: 10px 0;
  width: 200%;
  float: right;
}

#ubication2 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #a8a8a8;
    opacity: .2;
}

#ubication2 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #B7B1A5;
}

#ubication2 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}

#ubication2 span.swiper-pagination-bullet:hover {
    cursor: pointer;
    opacity: 1;
    background: #B7B1A5;
}

/*----------------------------units-------------------------------*/

#units {
  background-color: #f7f7f7;
}

#units .download {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

#units .download a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

#units .download a img {
  width: 20px;
  margin-right: 10px;
}

#units .download .zoom{
  width: 30px;
  margin-left: 20px;
  transform: translateY(-3px);
}

#units .footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#units .footer div:first-child{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 40px;
}

#units .footer p.titleFoo{
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 2.2rem;
  margin: 0;
}

#units .footer p.titleFoo span{
  font-weight: 400;
  margin: 0;
}

#units .footer div:first-child img{
  height: auto;
  width: 82px;
  margin-right: 15px;
}

#units .footer p.h3 {
  font-style: italic;
}

#units canvas#myChart {
  width: 170px!important;
  height: auto!important;
  margin-right: -25px;
}


/*----------------------------unitsCarousel-------------------------------*/
#unitsCarousel {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#unitsCarousel .gallery-thumbs {
  margin-top: 30px;
}

#unitsCarousel .gallery-thumbs .swiper-slide:hover {
  cursor: pointer;
}

/*----------------------------amenities-------------------------------*/

#amenities {
  background-color: #f7f7f7;
}

#amenities p.h1 img,
#units p.h1 img {
  height: 47px;
  margin-right: 15px;
  transform: translateY(-6px);
}

#amenities .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
}

#amenities .icons .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#amenities .icons .icon p {
  margin: 0;
}

#amenities .icons .icon img {
  max-width: 77px;
  width: 100%;
  margin-bottom: 20px;
}

#amenities .gridAmenities {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10%;
  margin-bottom: 10%;
}

.divider {
  border-bottom: solid 1px var(--secondary);
  width: 40%;
  margin: 40px auto;
}

#amenities .gridAmenities img {
  padding: 0 15%;
}

#amenities .gridAmenities .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
}

/*---------------------------------Us-----------------------------------*/

section#us {
  background-color: #e5e3df;
}

#us .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#us .text p:not(.h1) {
  text-align: center;
  font-size: 1.1rem;
}

#us .text p.h1 {
  text-align: center;
  margin-bottom: 50px;
}

#us .text img:not(.logo) {
  width: 73px;
  transform: translateY(-5px);
  margin-right: 30px;
}

#us .text img.logo {
  width: auto;
  height: 50px;
  margin-top: 35px;
}

/*----------------------------projectUs-------------------------------*/

#projectUs {
  background-image: url(../images/bgUs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#projectUs p:not(.h1) {
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
}

#projectUs p.h1 {
  color: #fff;
  text-align: center;
}

#projectUs .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
}

#projectUs .logo p {
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 1rem;
}

#projectUs .logo img {
  height: 33px;
}

#projectUs .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 123px;
}

#projectUs .footer p {
  margin: 0;
  line-height: 1.5rem;
}

/*----------------------------Contact-------------------------------*/

#contact img.imgbg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 150px;
}

#contact form input {
  margin-bottom: 10px;
}

#contact form button {
  padding: 8px 50px;
}

#contact .formCol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact .whatsapp {
  text-decoration: none;
  color: var(--text);
  margin: 20px 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact a.whatsapp img {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

#contact .shared img {
  width: auto;
  height: 30px;
  margin-right: 30px;
}

/*----------------------------aboutUs-------------------------------*/

#aboutUs{
  margin-top: 100px;
}

#aboutUs .logo{
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 30px;
}
#aboutUs .footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;
}
#aboutUs .footer p{
  margin-right: 30px;
}
#aboutUs #continents .footer {
  justify-content: flex-start;
}
#aboutUs #continents .footer img {
  height: 84px;
  width: auto;
  margin-right: 40px;
}

#aboutUs #continents .footer div:first-child {
  display: flex;
  flex-direction: row;
}

#aboutUs #continents .footer div:last-child {
  display: flex;
  flex-direction: row;
}

#aboutUs .divider {
  width: 100%;
  margin: 40px auto 70px;
}

/*----------------------------footer-------------------------------*/

footer {
  background-color: #e5e3df;
  padding: 50px 0;
}

footer .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .item img {
  max-width: 150px;
  width: 100%;
}

footer .item p {
  font-size: 1rem;
}

/*----------------------------btnWhatsapp-------------------------------*/

header div#whatsappBtn {
  position: fixed;
  bottom: 0;
  right: 15px;
  width: auto;
  padding: 0;
  z-index: 10;
}
header div#whatsappBtn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}
header div#whatsappBtn a:hover {
  text-decoration: none;
  color: var(--text);
}
header div#whatsappBtn button {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0px;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-animation: brickBtn 6s infinite;
  animation: brickBtn 6s infinite;
}
header div#whatsappBtn button:focus {
  outline: none;
}
header div#whatsappBtn button img {
  width: 50px;
}
header div#whatsappBtn a span {
  background: var(--secondary);
  padding: 6px 10px;
  font-size: 14px;
  margin-top: -6px;
}

@keyframes brickBtn {
  0 {
    transform: translate(0, 0) rotate(0deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  91% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  92% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  93% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  94% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  95% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  96% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  97% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  98% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  99% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {
  #unitsCarousel {
    width: 55%;
  }
  #presale .progressBottom p {
    font-size: 1.3rem;
  }

  #presale .progressTop img {
      height: 90px;
  }

  #presale .progress {
      height: 45px;
  }

  #presale .progressTop .text p {
      font-size: 1.5rem;
      line-height: 1.25;
  }

  #presale .progressTop .text p span {
      font-size: 1.3rem;
  }
  #ubication2 div#imgMap2 {
    width: 50%;
  }
}

@media (max-width: 1199.98px) {
  p.h1, h1 {
    font-size: 2.5rem;
  }

  p.h3, h3 {
      font-size: 1.25rem;
  }

  #contact img.imgbg {
      max-width: 150px;
  }

  #contact .whatsapp {
      font-size: 2rem;
  }

  #contact a.whatsapp img {
      width: 50px;
  }

  #contact .shared img {
      height: 40px;
  }
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-toggler {
    border: 0;
    padding: 0;
    outline: none!important;
    box-shadow: none!important;
  }
  .navbar-light .navbar-toggler-icon {
      width: 2em;
  }
  .navbar-collapse {
    background: #fff;
    position: fixed;
    left: 0;
    top: 90px;
  }
  .navbar-collapse a {
      position: relative;
      margin-bottom: 5px;
      padding-bottom: 5px!important;
  }
  .navbar-collapse li:not(:last-child) a:before {
      content: '';
      position: absolute;
      background: #d3cfc8;
      width: calc(100% - 34px);
      height: 1px;
      left: 17px;
      bottom: 0;
  }

  .navbar-collapse:before {
      content: '';
      position: absolute;
      top: -11px;
      width: 100%;
      height: 5px;
      box-shadow: 0px 10px 6px rgba(0,0,0,0.20);
  }
  section {
    padding: 10vh 0;
  }
  #amenities .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
  #contact .formCol2 {
    padding-top: 45px;
  }
  #unitsCarousel {
    width: 100%;
  }
  #presale .progressTop img {
    height: 70px;
  }

  #presale .progressBottom p {
      font-size: 1.25rem;
      line-height: 1.35;
  }

  #presale .progress {
      height: 40px;
      margin: 15px 0;
  }

  #presale .progressTop .text p {
      font-size: 1.25rem;
  }

  #presale .progressTop .text p span {
      font-size: 1rem;
  }
  #ubication {
    display: flex;
    flex-direction: column-reverse;
    padding: 45px 0 0;
    overflow: hidden;
  }
  #ubication p {
    color: #fff;
    margin-bottom: 30px;
  }
  #ubication div#imgMap svg {
    position: relative;
    width: calc(100% + 130px) !important;
    transform: translateX(-130px) !important;
  }
  #project .gridProject {
    grid-template-columns: 1fr;
    background: transparent;
  }

  #project .gridProject > img {
      margin-left: auto;
      margin-right: auto;
  }

  #project .gridProject .infoProject {
      padding-left: 0;
  }

  #project .infoProject .gridList {
      padding-bottom: 30px;
  }
  #ubication2 .container {
    padding: 5vh 15px;
  }
  #aboutUs #continents .footer img {
    height: 70px;
    width: auto;
    margin-right: 0;
  }
  #aboutUs #ventus .footer{
    flex-direction: column;
  }
  #aboutUs #continents .footer {
    flex-direction: column;
  }
  #aboutUs #continents .footer div:first-child {
    justify-content: space-between;
  }
  #aboutUs #continents .footer div:last-child {
    justify-content: space-evenly;
    margin-top: 30px;
  }
  footer .item img {
    width: calc(100% - 60px);
  }
  footer .item p {
      font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #ubication2 .swiper-container {
    padding-bottom: 50px;
  }

  #ubication2 .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  #ubication2 .swiper-pagination {
      width: 50%;
      left: 50%;
      text-align: left;
      padding-left: 30px;
      bottom: 0;
      z-index: 1000;
  }
  #ubication2 .container .infoMap {
    width: 50%;
    padding-left: 30px;
  }
}

@media (max-width: 767.98px) {
  :root {
    font-size: 13px;
  }
  p.h1 {
    font-size: 2.3rem;
  }
  p.h3,
  h3 {
    font-size: 1.15rem;
  }
  #navbar {
    height: 60px;
  }
  .navbar-collapse {
    top: 60px;
  }
  #navbar img.logoNav {
    width: 122px;
  }
  #banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    margin-top: 60px;
    background: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../images/bgbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;


  }
  #banner .titleBanner {
    padding: 0 .75rem;
  }
  #banner .titleBanner p:first-of-type {
    font-size: 2.25rem;
  }
  #banner .titleBanner p {
    font-size: 1.45rem;
  }
  #banner .titleBanner p:last-of-type {
    font-size: 1.5rem;
  }
  #banner .titleBanner p:last-of-type span {
    font-size: 4rem;
  }
  #project {
    background: none;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  #project .gridProject {
    display: block;
    margin-bottom: 15px;
  }
  #project .gridProject .infoProject {
    padding: 0 .75rem;
  }
  #project .infoProject .gridList {
    display: block;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    background-image: url(../images/davidsArm.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: calc(-1.5rem);
    margin-right: calc(-1.5rem);
    width: calc(100% + 3rem);
    padding: 10px 0;
  }
  #project .infoProject .gridList p {
    padding-left: calc(0.75rem + 20px);
    padding-right: calc(0.75rem + 20px);
    width: 70%;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  #project .infoProject .gridList p:before {
    content: "";
    position: absolute;
    background: #d3cfc8;
    width: calc(100% - 20px);
    height: 1px;
    left: 0;
    bottom: 0;
  }

  #project .gridProject > img,
  #project .infoProject .gridList p + .divider,
  #project .imgbg {
    display: none !important;
  }

  #project .infoProject .footerProject {
    grid-column-gap: 15px;
    margin: 40px 0 0;
  }
  #project .infoProject .footerProject div {
    padding: 0;
  }
  #project .infoProject .footerProject p {
    font-size: 7px;
  }
  #project .infoProject .footerProject img {
    max-width: 90px;
  }

  #project .infoProject .footerProject div:last-of-type img {
    width: 100px;
  }
  #presale {
    padding: 45px 0;
  }

  #presale .progressTop .text p {
    font-size: 0.85rem;
    line-height: 1.25;
  }

  #presale .progressTop .text p span {
    font-size: 0.75rem;
  }

  #presale .progressTop .verticalDivider {
    left: calc(20% - 1px);
  }

  #presale .progress {
    height: 32px;
    margin: 10px 0;
  }

  #presale .progress-bar {
    width: 20% !important;
  }

  #presale .progressBottom p {
    font-size: 1rem;
    line-height: 1.3;
  }

  #presale .progressTop img {
    height: 52px;
  }

  #ubication div#imgMap svg {
    width: calc(100% + 60px) !important;
    transform: translateX(-60px) !important;
  }

  #ubication2 div#imgMap2 {
    width: 100%;
  }

  #ubication2 .container {
    position: relative;
    padding: 30px 15px;
  }
  #ubication2 .container .infoMap {
    margin-left: 0;
    padding: 0 .75rem;
  }
  #unitsCarousel .gallery-thumbs {
    display: none;
  }
  #unitsCarousel {
    padding: 0;
  }
  #unitsCarousel .container .col-12 {
    padding: 0;
  }
  #amenities {
    padding: 45px 0;
  }
  #amenities .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    margin-top: 45px;
  }
  #amenities .gridAmenities {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  #amenities .gridAmenities img:last-child {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #amenities .gridAmenities img:first-child {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #amenities .gridAmenities .text:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #amenities .gridAmenities img,
  #amenities .gridAmenities .text {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 20px;
  }

  #amenities .gridAmenities .text:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 30px;
  }
  #amenities p.h1,
  #units p.h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  #amenities p.h1 img,
  #units p.h1 img {
    width: 38px;
    height: auto;
  }
  #amenities p, #units p,
  #amenities .gridAmenities .text,
  #us .text p, #projectUs p {
    padding: 0 .75rem;
  }
  #amenities .gridAmenities .text p {
    padding: 0;
  }
  #us .text p.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 35px;
  }
  #us .text img:not(.logo) {
    width: 60px;
  }
  #us {
    padding: 45px 0;
  }
  #projectUs .logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #projectUs {
    padding: 45px 0;
  }

  #projectUs .footer {
    margin-top: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #projectUs .footer p:not(:last-child) {
    margin-bottom: 30px;
  }
  #contact {
    padding: 45px 0;
  }

  #contact img.imgbg {
    display: none;
  }

  #contact p.h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  #contact p.h1 img {
    width: 38px;
    margin-right: 15px;
  }

  #contact p.h3 {
    margin-bottom: 10px;
  }

  form#contactForm {
    margin-bottom: 15px;
  }

  #contact .formCol2 p.h3.strong {
    font-size: 20px;
    font-weight: 500;
  }

  #contact .whatsapp {
    font-size: 28px;
    display: flex;
    flex-direction: initial;
    align-items: center;
  }

  #contact a.whatsapp img {
    width: 45px;
  }

  #contact .shared img {
    height: 32px;
    margin-right: 25px;
  }

  #aboutUs {
    margin-top: 50px;
  }
  #aboutUs .logo{
    max-width: 180px;
  }

  footer {
    padding: 45px 0;
  }

  footer .col-12 {
    flex-direction: column;
    justify-content: center;
  }

  footer .item img {
    width: 120px;
  }

  footer .item p {
    font-size: 0.75rem;
    margin-bottom: 5px;
  }

  footer .item:not(:last-child) {
    margin-bottom: 25px;
  }

  footer .item:not(:first-child) p {
    margin-bottom: 10px;
  }
  footer .item.privacyText {
    padding-top: 30px;
  }
  footer .item.privacyText p {
    font-size: 0.8rem;
  }

}

@media (max-width: 575.98px) {

}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
    width: 90%;
  }
}
