@import "fonts.css";

:root {
  --primary: #ea705c;
  --secondary: #e5e3df;
  --text: #494846;
  --btn: #a3a3a3;
  --btn-hover: #bc5c4c;
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: var(--text);
}

p.h1, h1{
  font-size: 2.75rem;
}

p.h2, h2{
  font-size: 2rem;
}

p.h3, h3{
  font-size: 1.5rem;
}

a,
p,
div,
input,
button,
textarea {
  font-family: Roboto;
  color: var(--text);
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 15vh 0;
}

.strong {
  font-weight: 700;
}

.btn.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 30px;
  padding: 8px 30px;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: var(--btn-hover) !important;
  border-color: var(--btn-hover) !important;
  box-shadow: none !important;
}

/*----------------------------NavBar-------------------------------*/

#navbar {
  background: #fff;
  border-bottom: solid 8px var(--primary);
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

#navbar img.logoNav {
  height: auto;
  width: 250px;
}

#navbar a.nav-link {
  color: var(--text);
  padding: 8px 17px;
}

/*----------------------------Banner-------------------------------*/

#banner {
  background: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../images/gal3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  min-height: calc(100vh - 90px);
  margin-top: 90px;
}

#banner .titleBanner p {
  color: #fff;
  margin: 0;
  font-size: 1.85rem;
  line-height: 2rem;
}

#banner .titleBanner p:first-of-type {
  font-size: 2.75rem;
  line-height: 3rem;
}

#banner .titleBanner p:first-of-type span {
  font-weight: 700;
}

#banner .titleBanner p:last-of-type {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
}

#banner .titleBanner p:last-of-type span {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

#banner .titleBanner button {
  margin-top: 35px;
}

#banner .titleBanner .dividerLine {
  border-bottom: solid 1px #fff;
  margin: 20px 0;
  max-width: 400px;
}

/*------------------------------Project--------------------------------*/

#project {
  background: url(../images/bgProject.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project .gridProject {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(255,255,255,1) 20%);
}

#project .gridProject .infoProject{
  padding-left: 8%;
}

#project .gridProject .infoProject img.logo {
  max-width: 200px;
  width: 100%;
  margin: 40px 0;
}

#project .infoProject .gridList {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

#project .infoProject .gridList p {
  margin: 0;
}

#project .infoProject .gridList .divider {
  border-bottom: solid 1px var(--text);
  margin: 10px 0;
  width: 90%;
}

#project .infoProject .footerProject{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px 0 40px;
}

#project .infoProject .footerProject div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

#project .infoProject .footerProject p{
  font-size: 11px;
  text-align: center;
}

#project .infoProject .footerProject img{
  max-width: 140px;
  width: 100%;
}

/*-----------------------------presale-------------------------------*/

#presale{
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(185,185,185,0) 10%, rgba(0,0,0,0) 100%), #E5E3DF;
}

#presale .progressTop {
  display: flex;
  flex-direction: row;
  position: relative;
}

#presale .progressTop img {
  height: 107px;
}

#presale .progressTop img:first-of-type {
  position: absolute;
  bottom: 0;
  left: calc(15% + 28px);
}

#presale .progressTop .verticalDivider {
  position: absolute;
  bottom: -18px;
  left: calc(15% - 1px);
  border-left: solid 1px var(--text);
  height: 100%;
}

#presale .progressTop .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#presale .progressTop .text p {
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
}

#presale .progressTop .text p span {
  font-size: 1.5rem;
}

#presale .progress {
  height: 58px;
  background-color: #fff;
  border-radius: 0;
  margin: 18px 0;
}

#presale .progress-bar {
  background-color: #27AC2C;
}

#presale .progressBottom{
  display: flex;
  flex-direction: row;
}

#presale .progressBottom p {
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 0;
}

#presale .progressBottom p:first-child {
  margin-left: calc(15% + 28px);
}

/*----------------------------btnWhatsapp-------------------------------*/

header div#whatsappBtn {
  position: fixed;
  bottom: 0;
  right: 15px;
  width: auto;
  padding: 0;
  z-index: 10;
}
header div#whatsappBtn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}
header div#whatsappBtn a:hover {
  text-decoration: none;
  color: var(--text);
}
header div#whatsappBtn button {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0px;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-animation: brickBtn 6s infinite;
  animation: brickBtn 6s infinite;
}
header div#whatsappBtn button:focus {
  outline: none;
}
header div#whatsappBtn button img {
  width: 50px;
}
header div#whatsappBtn a span {
  background: var(--secondary);
  padding: 6px 10px;
  font-size: 14px;
  margin-top: -6px;
}

@keyframes brickBtn {
  0 {
    transform: translate(0, 0) rotate(0deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  91% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  92% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  93% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  94% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  95% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  96% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  97% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  98% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  99% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
    width: 90%;
  }
}
